<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>mmn</title>
  <link rel="stylesheet" type="text/css" href="index.css">
  <script src="../lib/reading.js" type="text/javascript"></script>
</head>

<body onload="load()">
  <div class="footer">
    <div class="range">
      <input type="range" min="0" max="5" class="slider">
      <div class="sliderticks">
        <div class="linecontiner">
          <div class="line"></div>
        </div>
        <div class="linecontiner">
          <div class="line"></div>
        </div>
        <div class="linecontiner">
          <div class="line"></div>
        </div>
        <div class="linecontiner">
          <div class="line"></div>
        </div>
        <div class="linecontiner">
          <div class="line"></div>
        </div>
        <div class="linecontiner">
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>