<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>mmn</title>
  <link rel="stylesheet" href="../node_modules/framework7/css/framework7.bundle.min.css">
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="icon.css">
</head>

<body>
  <div id="app">
    <div class="panel panel-left panel-reveal panel-resizable">
      <div class="block">
        <p>Left Panel content here</p>
      </div>
    </div>

    <div class="view view-main">
      <div data-name="home" class="page">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left">
              <a href="#" class="button button-fill panel-toggle display-flex panel-open" data-panel="left">
                <i class="f7-icons">bars</i>
              </a>
              <a href="#" class="button button-fill display-flex" id="mmnopen">
                <i class="f7-icons">folder</i>
              </a>
            </div>
            <div class="left">
              <p class="mmninfo"></p>
            </div>
          </div>
        </div>

        <div class="page-content dragscroll">
          <img src="../test/img.jpg">
        </div>
        <div class="toolbar toolbar-bottom">
          <div class="mmnprogress">
            <div class="range-slider range-slider-init" data-min="0" data-max="100" data-label="true" data-step="1"
              data-value="0" data-scale="true" data-scale-steps="10" data-scale-sub-steps="10"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../node_modules/framework7/js/framework7.bundle.min.js" type="text/javascript"></script>
  <script src="../node_modules/redom/dist/redom.min.js" type="text/javascript"></script>
  <script src="../node_modules/dragscroll/dragscroll.js" type="text/javascript"></script>
  <script src="../lib/reading.js" type="text/javascript"></script>
</body>

</html>