:root {
    --mmn-bg-color                 : #0E1014;
    --mmn-bar-color                : #808893;
    --mmn-active-bar-color         : #434A54;
    --mmn-txt-color                : #737F91;
    --mmn-knob-color               : #E4E5E6;
    --f7-page-bg-color             : var(--mmn-bg-color);
    --f7-bars-bg-color             : var(--mmn-bg-color);
    --f7-toolbar-border-color      : var(--mmn-bg-color);
    --f7-range-scale-step-height   : 20px;
    --f7-range-scale-text-color    : var(--mmn-txt-color);
    --f7-range-scale-substep-width : 1px;
    --f7-range-scale-substep-height: 20px;
}

.aurora {
    --f7-range-size                  : 60px;
    --f7-range-bar-bg-color          : var(--mmn-bar-color);
    --f7-range-bar-size              : 20px;
    --f7-range-bar-border-radius     : 4px;
    --f7-range-bar-active-bg-color   : var(--mmn-active-bar-color);
    --f7-range-knob-size             : 30px;
    --f7-range-knob-color            : var(--mmn-knob-color);
    --f7-range-knob-box-shadow       : none;
    --f7-range-label-size            : 20px;
    --f7-range-label-text-color      : var(--mmn-txt-color);
    --f7-range-label-bg-color        : var(--mmn-knob-color);
    --f7-range-label-font-size       : 10px;
    --f7-range-label-font-weight     : 600;
    --f7-range-label-border-radius   : 4px;
    --f7-range-label-padding         : 0px 4px;
    --f7-range-scale-step-bg-color   : var(--mmn-bg-color);
    --f7-range-scale-step-width      : 1px;
    --f7-range-scale-font-size       : 11px;
    --f7-range-scale-font-weight     : 500;
    --f7-range-scale-label-offset    : 5px;
    --f7-range-scale-substep-bg-color: var(--mmn-bg-color);
    --f7-toolbar-height              : 60px;
}

::-webkit-scrollbar-track {
    background: var(--mmn-bg-color);
    border: none;
    width: 20px;
}

.mmnprogress {
    margin-left : 40px;
    margin-right: 80px;
}

.mmnbtn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.range-slider {
    cursor: default;
}

.range-slider-horizontal .range-scale {
    margin-top: -10px;
}

.range-knob {
    border-radius: 20%;
}

.page-content {
    height     : calc(100% - 60px);
    user-select: none;
}

.page-content::-webkit-scrollbar {
    background: var(--mmn-bg-color);
    width: 10px;
    height: 10px;
}

.page-content::-webkit-scrollbar-thumb {
    background: var(--mmn-active-bar-color);
    border-radius: 5px;
}

.page-content::-webkit-scrollbar-corner {
    border-radius: 1px;
}