<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Your app title -->
  <title>mmn</title>
  <!-- Path to Framework7 Library Bundle CSS -->
  <link rel="stylesheet" href="../node_modules/framework7/css/framework7.bundle.min.css">
  <!-- Path to your custom app styles-->
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <!-- App root element -->
  <div id="app">
    <!-- Statusbar overlay -->
    <div class="statusbar"></div>

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
      <!-- Initial Page, "data-name" contains page name -->
      <div data-name="home" class="page">

        <!-- Scrollable page content -->
        <div class="page-content">
        </div>

        <div class="toolbar toolbar-bottom">
          <div class="mmnprogress">
            <div class="range-slider range-slider-init" data-min="0" data-max="100" data-label="true" data-step="1"
              data-value="0" data-scale="true" data-scale-steps="10" data-scale-sub-steps="10"></div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- Path to Framework7 Library Bundle JS-->
  <script type="text/javascript" src="../node_modules/framework7/js/framework7.bundle.min.js"></script>
  <script src="../node_modules/redom/dist/redom.min.js" type="text/javascript"></script>
  <!-- Path to your app js-->
  <script type="text/javascript" src="../lib/reading.js"></script>
</body>

</html>